In [ ]:
# libraries

from datetime import datetime
import os
import re
import glob
import requests 
import pandas as pd
from bs4 import BeautifulSoup

# Web Scrapping

In [ ]:
# web scrapping

link = 'https://www.mohfw.gov.in/'
req = requests.get(link)
soup = BeautifulSoup(req.content, "html.parser")

thead = soup.find_all('thead')[-1]
# print(thead)
head = thead.find_all('tr')

tbody = soup.find_all('tbody')[-1]
body = tbody.find_all('tr')

# print(rows)

head_rows = []
body_rows = []

for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
    
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
    
# print(head_rows)
    
df_bs = pd.DataFrame(body_rows[:len(body_rows)-3], columns=head_rows[0])
    
df_bs.drop('S. No.', axis=1, inplace=True)
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death
0,Andaman and Nicobar Islands,11,10,0
1,Andhra Pradesh,503,16,9
2,Arunachal Pradesh,1,0,0
3,Assam,33,0,1
4,Bihar,70,29,1
5,Chandigarh,21,7,0
6,Chhattisgarh,33,13,0
7,Delhi,1561,30,30
8,Goa,7,5,0
9,Gujarat,695,59,30
10,Haryana,199,34,3
11,Himachal Pradesh,33,13,1
12,Jammu and Kashmir,278,30,4
13,Jharkhand,27,0,2
14,Karnataka,277,75,11
15,Kerala,387,211,3
16,Ladakh,17,10,0
17,Madhya Pradesh,987,64,53
18,Maharashtra,2687,259,178
19,Manipur,2,1,0
20,Meghalaya,7,0,1
21,Mizoram,1,0,0
22,Nagaland#,0,0,0
23,Odisha,60,18,1
24,Puducherry,7,1,0
25,Punjab,186,14,13
26,Rajasthan,1005,147,3
27,Tamil Nadu,1204,81,12
28,Telengana,647,120,18
29,Tripura,2,0,0
30,Uttarakhand,37,9,0
31,Uttar Pradesh,735,51,11
32,West Bengal,213,37,7

# Data Cleaning

In [ ]:
# date-time information
# ---------------------

now  = datetime.now()
df_bs['Date'] = now.strftime("%m/%d/%Y") 
df_bs['Date'] = pd.to_datetime(df_bs['Date'], format='%m/%d/%Y')
df_bs['Name of State / UT'] = df_bs['Name of State / UT'].str.replace('#', '')
df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date
0,Andaman and Nicobar Islands,11,10,0,2020-04-16
1,Andhra Pradesh,503,16,9,2020-04-16
2,Arunachal Pradesh,1,0,0,2020-04-16
3,Assam,33,0,1,2020-04-16
4,Bihar,70,29,1,2020-04-16
5,Chandigarh,21,7,0,2020-04-16
6,Chhattisgarh,33,13,0,2020-04-16
7,Delhi,1561,30,30,2020-04-16
8,Goa,7,5,0,2020-04-16
9,Gujarat,695,59,30,2020-04-16
10,Haryana,199,34,3,2020-04-16
11,Himachal Pradesh,33,13,1,2020-04-16
12,Jammu and Kashmir,278,30,4,2020-04-16
13,Jharkhand,27,0,2,2020-04-16
14,Karnataka,277,75,11,2020-04-16
15,Kerala,387,211,3,2020-04-16
16,Ladakh,17,10,0,2020-04-16
17,Madhya Pradesh,987,64,53,2020-04-16
18,Maharashtra,2687,259,178,2020-04-16
19,Manipur,2,1,0,2020-04-16
20,Meghalaya,7,0,1,2020-04-16
21,Mizoram,1,0,0,2020-04-16
22,Nagaland,0,0,0,2020-04-16
23,Odisha,60,18,1,2020-04-16
24,Puducherry,7,1,0,2020-04-16
25,Punjab,186,14,13,2020-04-16
26,Rajasthan,1005,147,3,2020-04-16
27,Tamil Nadu,1204,81,12,2020-04-16
28,Telengana,647,120,18,2020-04-16
29,Tripura,2,0,0,2020-04-16
30,Uttarakhand,37,9,0,2020-04-16
31,Uttar Pradesh,735,51,11,2020-04-16
32,West Bengal,213,37,7,2020-04-16

In [ ]:
df_bs['Name of State / UT'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura',
       'Uttarakhand', 'Uttar Pradesh', 'West Bengal'], dtype=object)

In [ ]:
# latitude and longitude information
# ----------------------------------

lat = {'Delhi':28.7041, 'Haryana':29.0588, 'Kerala':10.8505, 'Rajasthan':27.0238,
       'Telengana':18.1124, 'Uttar Pradesh':26.8467, 'Ladakh':34.2996, 'Tamil Nadu':11.1271,
       'Jammu and Kashmir':33.7782, 'Punjab':31.1471, 'Karnataka':15.3173, 'Maharashtra':19.7515,
       'Andhra Pradesh':15.9129, 'Odisha':20.9517, 'Uttarakhand':30.0668, 'West Bengal':22.9868, 
       'Puducherry': 11.9416, 'Chandigarh': 30.7333, 'Chhattisgarh':21.2787, 'Gujarat': 22.2587, 
       'Himachal Pradesh': 31.1048, 'Madhya Pradesh': 22.9734, 'Bihar': 25.0961, 'Manipur':24.6637, 
       'Mizoram':23.1645, 'Goa': 15.2993, 'Andaman and Nicobar Islands': 11.7401, 'Assam' : 26.2006, 
       'Jharkhand': 23.6102, 'Arunachal Pradesh': 28.2180, 'Tripura': 23.9408, 'Nagaland': 26.1584, 
       'Meghalaya' : 25.4670}

long = {'Delhi':77.1025, 'Haryana':76.0856, 'Kerala':76.2711, 'Rajasthan':74.2179,
        'Telengana':79.0193, 'Uttar Pradesh':80.9462, 'Ladakh':78.2932, 'Tamil Nadu':78.6569,
        'Jammu and Kashmir':76.5762, 'Punjab':75.3412, 'Karnataka':75.7139, 'Maharashtra':75.7139,
        'Andhra Pradesh':79.7400, 'Odisha':85.0985, 'Uttarakhand':79.0193, 'West Bengal':87.8550, 
        'Puducherry': 79.8083, 'Chandigarh': 76.7794, 'Chhattisgarh':81.8661, 'Gujarat': 71.1924, 
        'Himachal Pradesh': 77.1734, 'Madhya Pradesh': 78.6569, 'Bihar': 85.3131, 'Manipur':93.9063, 
        'Mizoram':92.9376, 'Goa': 74.1240, 'Andaman and Nicobar Islands': 92.6586, 'Assam' : 92.9376, 
        'Jharkhand': 85.2799, 'Arunachal Pradesh': 94.7278, 'Tripura': 91.9882, 'Nagaland': 94.5624,
        'Meghalaya' : 91.3662}

df_bs['Latitude'] = df_bs['Name of State / UT'].map(lat)
df_bs['Longitude'] = df_bs['Name of State / UT'].map(long)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,11,10,0,2020-04-16,11.7401,92.6586
1,Andhra Pradesh,503,16,9,2020-04-16,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-16,28.2180,94.7278
3,Assam,33,0,1,2020-04-16,26.2006,92.9376
4,Bihar,70,29,1,2020-04-16,25.0961,85.3131
5,Chandigarh,21,7,0,2020-04-16,30.7333,76.7794
6,Chhattisgarh,33,13,0,2020-04-16,21.2787,81.8661
7,Delhi,1561,30,30,2020-04-16,28.7041,77.1025
8,Goa,7,5,0,2020-04-16,15.2993,74.1240
9,Gujarat,695,59,30,2020-04-16,22.2587,71.1924
10,Haryana,199,34,3,2020-04-16,29.0588,76.0856
11,Himachal Pradesh,33,13,1,2020-04-16,31.1048,77.1734
12,Jammu and Kashmir,278,30,4,2020-04-16,33.7782,76.5762
13,Jharkhand,27,0,2,2020-04-16,23.6102,85.2799
14,Karnataka,277,75,11,2020-04-16,15.3173,75.7139
15,Kerala,387,211,3,2020-04-16,10.8505,76.2711
16,Ladakh,17,10,0,2020-04-16,34.2996,78.2932
17,Madhya Pradesh,987,64,53,2020-04-16,22.9734,78.6569
18,Maharashtra,2687,259,178,2020-04-16,19.7515,75.7139
19,Manipur,2,1,0,2020-04-16,24.6637,93.9063
20,Meghalaya,7,0,1,2020-04-16,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-16,23.1645,92.9376
22,Nagaland,0,0,0,2020-04-16,26.1584,94.5624
23,Odisha,60,18,1,2020-04-16,20.9517,85.0985
24,Puducherry,7,1,0,2020-04-16,11.9416,79.8083
25,Punjab,186,14,13,2020-04-16,31.1471,75.3412
26,Rajasthan,1005,147,3,2020-04-16,27.0238,74.2179
27,Tamil Nadu,1204,81,12,2020-04-16,11.1271,78.6569
28,Telengana,647,120,18,2020-04-16,18.1124,79.0193
29,Tripura,2,0,0,2020-04-16,23.9408,91.9882
30,Uttarakhand,37,9,0,2020-04-16,30.0668,79.0193
31,Uttar Pradesh,735,51,11,2020-04-16,26.8467,80.9462
32,West Bengal,213,37,7,2020-04-16,22.9868,87.8550

In [ ]:
df_bs.isna().sum()

Name of State / UT                                         0
Total Confirmed cases (Including 76 foreign Nationals)     0
Cured/Discharged/Migrated                                  0
Death                                                      0
Date                                                       0
Latitude                                                   0
Longitude                                                  0
dtype: int64

# Saving data

In [ ]:
# saving data
# -----------

file_name = now.strftime("%Y_%m_%d")+'.csv'
file_loc = 'C:\\Users\\Sankalp Arora\\Desktop\\'
df_bs.to_csv(file_loc + file_name, index=False)

df_bs.head(36)

,Name of State / UT,Total Confirmed cases (Including 76 foreign Nationals),Cured/Discharged/Migrated,Death,Date,Latitude,Longitude
0,Andaman and Nicobar Islands,11,10,0,2020-04-16,11.7401,92.6586
1,Andhra Pradesh,503,16,9,2020-04-16,15.9129,79.7400
2,Arunachal Pradesh,1,0,0,2020-04-16,28.2180,94.7278
3,Assam,33,0,1,2020-04-16,26.2006,92.9376
4,Bihar,70,29,1,2020-04-16,25.0961,85.3131
5,Chandigarh,21,7,0,2020-04-16,30.7333,76.7794
6,Chhattisgarh,33,13,0,2020-04-16,21.2787,81.8661
7,Delhi,1561,30,30,2020-04-16,28.7041,77.1025
8,Goa,7,5,0,2020-04-16,15.2993,74.1240
9,Gujarat,695,59,30,2020-04-16,22.2587,71.1924
10,Haryana,199,34,3,2020-04-16,29.0588,76.0856
11,Himachal Pradesh,33,13,1,2020-04-16,31.1048,77.1734
12,Jammu and Kashmir,278,30,4,2020-04-16,33.7782,76.5762
13,Jharkhand,27,0,2,2020-04-16,23.6102,85.2799
14,Karnataka,277,75,11,2020-04-16,15.3173,75.7139
15,Kerala,387,211,3,2020-04-16,10.8505,76.2711
16,Ladakh,17,10,0,2020-04-16,34.2996,78.2932
17,Madhya Pradesh,987,64,53,2020-04-16,22.9734,78.6569
18,Maharashtra,2687,259,178,2020-04-16,19.7515,75.7139
19,Manipur,2,1,0,2020-04-16,24.6637,93.9063
20,Meghalaya,7,0,1,2020-04-16,25.4670,91.3662
21,Mizoram,1,0,0,2020-04-16,23.1645,92.9376
22,Nagaland,0,0,0,2020-04-16,26.1584,94.5624
23,Odisha,60,18,1,2020-04-16,20.9517,85.0985
24,Puducherry,7,1,0,2020-04-16,11.9416,79.8083
25,Punjab,186,14,13,2020-04-16,31.1471,75.3412
26,Rajasthan,1005,147,3,2020-04-16,27.0238,74.2179
27,Tamil Nadu,1204,81,12,2020-04-16,11.1271,78.6569
28,Telengana,647,120,18,2020-04-16,18.1124,79.0193
29,Tripura,2,0,0,2020-04-16,23.9408,91.9882
30,Uttarakhand,37,9,0,2020-04-16,30.0668,79.0193
31,Uttar Pradesh,735,51,11,2020-04-16,26.8467,80.9462
32,West Bengal,213,37,7,2020-04-16,22.9868,87.8550

In [ ]:
df_bs.columns

Index(['Name of State / UT',
       'Total Confirmed cases (Including 76 foreign Nationals) ',
       'Cured/Discharged/Migrated', 'Death', 'Date', 'Latitude', 'Longitude'],
      dtype='object')